<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Topic</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">name</ion-label>
    <Form [formGroup]="form">
      <ion-input formControlName="name"></ion-input>

    </Form>
  </ion-item>
  <ion-text color="danger" *ngIf="name!.touched && name!.invalid">
    <ion-label *ngIf="name!.errors?.['required']">Name is required</ion-label>
  </ion-text>
</ion-content>
