<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <Form [formGroup]="form">
    <ion-item>
      <ion-input formControlName="name" placeholder="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="name!.touched && name!.invalid">
      <ion-label *ngIf="name!.errors?.['required']">Name is required</ion-label>
    </ion-text>
    <ion-item class="ion-margin-top">
      <ion-textarea formControlName="description" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="description!.touched && description!.invalid">
      <ion-label *ngIf="description!.errors?.['required']">Description is required</ion-label>
    </ion-text>
  </Form>

</ion-content>
